body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #4B0082;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url('casino-background.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
}

header {
    background-color: rgba(75, 0, 130, 0.8);
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    display: inline-block;
    border-radius: 10px;
}

.cta-button {
    display: inline-block;
    background-color: #FFD700;
    color: #4B0082;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #FFA500;
}
